* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.green {
  border: 1px solid green;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.banner {
  width: 100%;
  height: 865px;
  background: url("./banner.jpg") center center no-repeat;
  padding: 20px;
}

.banner .about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
}

.banner .about-sign-in .about-us {
  text-decoration: none;
}

.banner .about-sign-in .about-us,
.banner .about-sign-in .sign-in {
  margin-top: 20px;
  padding: 7px 15px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.banner .about-sign-in .sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border: 1px solid green;
  border-radius: 25px;
}

.banner .about-sign-in a.sign-in.green {
  margin-right: 60px;
  margin-left: 25px;
}

.banner .logo {
  background: url("./hapoERP.png") center center no-repeat;
  margin-top: 40px;
  height: 100px;
  /* width: 100%; */
}

.banner .content-center .left,
.banner .content-center .center,
.banner .content-center .right {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 33%;
  text-align: center;
  justify-content: space-evenly;
}

.banner .content-center img {
  width: 50px;
  height: 50px;
}

.banner .content-center span {
  display: block;
  font-size: 20px;
  font-size: 30px;
}

.banner .text {
  text-align: center;
  margin-top: 30px;
}

.banner .text span {
  color: green;
  font-style: italic;
}

.banner .btn {
  text-align: center;
}

.banner .btn button {
  text-transform: uppercase;
  background: linear-gradient(311.12deg, #b4ec51 0%, #429321 100%);
  color: white;
  border: 1px solid green;
  border-radius: 20px;
  margin-top: 25px;
  cursor: pointer;
  padding: 10px 15px;
}