* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.green {
    border: 1px solid green;

}

body {
    font-family: 'Times New Roman', Times, serif;
}

.banner {
    width: 100%;
    height: 865px;
    background: url('./banner.jpg') center center no-repeat;
    padding: 20px;
}

.about-sign-in {
    height: 80px;
    width: 100%;
    text-align: right;
}

.about-us {
    text-decoration: none;
}

.about-us,
.sign-in {
    margin-top: 20px;
    padding: 7px 15px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.sign-in {
    margin-right: 60px;
    margin-left: 25px;
    border: 1px solid green;
    border-radius: 25px;
}


a.sign-in.green {
    margin-right: 60px;
    margin-left: 25px;

}

.logo {
    background: url('./hapoERP.png') center center no-repeat;
    margin-top: 40px;
    height: 100px;
    /* width: 100%; */
}

/* .content-center {
    height: 50px;

} */

.left,
.center,
.right {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 33%;
    text-align: center;
    justify-content: space-evenly;
}

img {
    width: 50px;
    height: 50px;

}

span {
    padding: 10px;
    color: red;

    display: block;
    font-size: 20px;
}

.btn {
    text-align: center;
}

.text {
    text-align: center;
    margin-top: 30px;
}

.text span {
    color: green;
    font-style: italic;

}

.banner .btn button {
    text-transform: uppercase;
    background: linear-gradient(311.12deg, rgb(180, 236, 81) 0%, rgb(66, 147, 33) 100%);
    color: white;
    border: 1px solid green;
    border-radius: 20px;
    margin-top: 25px;
    cursor: pointer;
    padding: 10px 15px;
}